h2 {
    margin: 4rem 0rem 2rem 0rem !important;
    border-bottom: solid 1px #189993;
}

h3 {
    margin: 3rem 0rem 1rem 0rem !important;
    padding: 0rem 0rem 0.5rem 0.5rem !important;
    border-left: solid 2px #189993;
}

:root {
    --md-default-bg-color: #0d1011;
}

[data-md-color-scheme="slate"] {
    background: #0E1011;
    background-image: linear-gradient(90deg, #0d1011 0%, rgb(13, 16, 17) 5%, rgb(5, 34, 40) 100%);
/*    background-repeat: no-repeat;*/
}

@media screen and (min-width: 76.25em) {
    .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link:not(.md-nav__container) {
        display: none;
    }
}

/* page links */
.md-nav__item .md-nav__link--active,
.md-tabs__item--active {
    font-weight: bold;
}
/* header text */
.md-header, .md-tabs {
    color: #189993;
}

/* header background image */
.md-header, .md-tabs {
    background: #0d1011;
    background-image: url("/assets/images/header-bg.jpg");
    background-position: bottom;
    background-repeat: repeat;
}
