h2 {
    margin: 4rem 0rem 2rem 0rem !important;
    border-bottom: solid 1px #189993;
}

h3 {
    margin: 3rem 0rem 1rem 0rem !important;
    padding: 0rem 0rem 0.5rem 0.5rem !important;
    border-left: solid 2px #189993;
}

:root {
    /* primary color shades */
    --md-primary-bg-color--light:   #19C5C1;       /* search text */
    --md-primary-bg-color:          #19C5C1;       /* Header text color */
    --md-primary-fg-color:          #0d1011;       /* "background" but not really, usefull for sidebery */
    --md-accent-fg-color:           #19C5C1;
    --md-primary-fg-color--light:   #19C5C1;
    --md-primary-fg-color--dark:   #189993;
}

[data-md-color-scheme="slate"] {
    background-color: #0d1011;
}

[data-md-color-scheme="default"] > a {
    color: black;
}

/* page links */
.md-typeset a,
.md-nav__item .md-nav__link--active,
.md-tabs__link--active,
.md-nav--primary .md-nav__item--active > .md-nav__link,
.md-nav--primary .md-nav__title {
    color: #189993;
    font-weight: bold;
}
.md-typeset a:is(:hover),
.md-typeset .headerlink:is(:focus, :hover), .md-typeset :target > .headerlink,
.md-nav--primary .md-nav__title:is(:focus, :hover),
.md-nav__link:is(:focus, :hover) {
    color: #19C5C1;
}

/* back to top */
.md-top:is(:focus, :hover) {
    background-color: #19C5C1;
}

/* translate telector */
.md-select__list {
    background-color: #0d1011;
    color: #19C5C1;
}


/* header background image */
.md-header, .md-tabs {
    background-image: url("../images/header-bg.jpg");
    background-position: bottom; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
}

/* Removing top margin */
.md-main__inner {
    margin-top: 0;
}

@media screen and (max-width: 59.9375em) {
    .md-nav--primary .md-nav__title ~ .md-nav__list,
    .md-sidebar--primary,
    .md-nav--primary .md-nav__title {
        background-color: #0d1011;
        color: white;
    }
}

/*
@media screen and (min-width: 76.25em) {
    md-nav__item md-nav__item--active md-nav__item--nested > .md-nav__link {
        display: none;
    }
}
.md-nav--primary .md-nav__link {
    color: white;
}
.md-nav--primary .md-nav__item--active > .md-nav__link {
    color: #10EFF0;
}

.md-nav--primary .md-nav__item--active,
.md-select__link a,
.md-select__item a:is(:hover),
.md-nav--primary .md-nav__item--active > .md-nav__link:is(:focus, :hover) {
    color: #10EFF0;
}
*/