h2 {
    margin: 4rem 0rem 2rem 0rem !important;
    border-bottom: solid 1px #189993;
}

h3 {
    margin: 3rem 0rem 1rem 0rem !important;
    padding: 0rem 0rem 0.5rem 0.5rem !important;
    border-left: solid 2px #189993;
}

:root {
    /* primary color shades */
    --md-primary-bg-color--light:        #19C5C1;       /* search text */
    --md-primary-bg-color:               #19C5C1;       /* Header text color */
    --md-primary-fg-color:               #0d1011;       /* "background" but not really, usefull for sidebery */
}

[data-md-color-scheme="slate"] {
    background-color: #0d1011;
}

/* page links */
.md-typeset a,
.md-nav__item .md-nav__link--active {
    color: #189993;
}
.md-typeset a:is(:hover),
.md-nav__link:is(:focus, :hover) {
    color: #19C5C1;
}

/* translate telector */
.md-select__list {
    background-color: #0d1011;
    color: #19C5C1;
}
.md-select__link a,
.md-select__item a:is(:hover) {
    color: #10EFF0;
}

/* header background image */
.md-header, .md-tabs {
    background-image: url("../images/header-bg.jpg");
    background-position: bottom; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
}